<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <div style="margin-top:20px;"></div>

    <div class="container">


        <h1>Atosci Movie Database</h1>
        <hr>

        <div class="row">

            <div class="col-4">
                <img th:src="${movie.Poster}"/>
            </div>

            <div class="col-8">
                <h2 th:text="${movie.Title}"></h2>
                <p th:text="${movie.Plot}"></p>
                <p th:text="${movie.Year}"></p>
                <p th:text="${movie.Actors}"></p>

            </div>

        </div>

    </div>

<!--    <p th:text="${rating}"></p>-->

</html>